.navbar{
    background-color: var(--grey-1);
    padding: 1.45rem 0;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar a {
    color: var(--color-white-fixed);
    padding-right: 0.5rem;
}

@media (min-width: 1024px) {
    .navbar {
        padding-left: 3rem;
    }
    .navbar a {
        padding-right: 3rem;
    }
}